.git-fe-component {
    position: absolute;
    right: 0;
    top: 0;
    padding: 0.5em;
    border-radius: 1.5em;
    font-size: 0.8em;
    font-weight: bold;
    transition: background-color 1s ease;
    color: #d0d0d0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2em;
    height: 1.5em;
    margin-left: 2em;
}
.git-fe-component:nth-of-type(1) {
    right: 2.5em;
}
.git-fe-component-changes {
    background-color: #ff7f50;
    color: #ffffff;
}
.git-fe-component-changes:hover {
    filter: brightness(120%);
}
.git-fe-component-success {
    background-color: #129060 !important;
    color: #ffffff;
}
.git-fe-component-error {
    background-color: #ff4d4d !important;
    color: #ffffff;
}
.git-fe-component-syncstatus {
    background-color: #126a90;
    color: #ffffff;
    width: 5em;
}
.git-fe-component-syncstatus:hover {
    filter: brightness(120%);
}